
# Learning the Python Basics

The book "Python Data Science handbook" expects basic knowledge of Python. This notebook introduces all the important Python basics needed for this Data Science course.

## Exercise 1 - Basic Python

Print *Hello World* with the `print()`-function.

In [26]:
print("Hello World")

Hello World

Now, create a variable `name` with your own name and print *Hello your_name*. Use a formatted string (`f'blaba {variable} blabla`) to create it, like `String.format()` in Java does.

Here is an example of using an `f` string.
```
aantal = 3
string_een = 'format'
string_twee = 'specifiers'
print(f'Dit is een string met {aantal} {string_een} {string_twee} erin')
```

In [27]:
name = "Jeroen"
print(f"Hello {name}")

Hello Jeroen

In Python, you work with modules. A module is similar to a package in Java.
To use a module, you perform an import
```
import math
```
You then have a namespace 'math' with all the functionalities available in the module. You access them by prefixing your expression with the namespace (e.g., .math.)
```
print(f'{math.pi}')
```
You can also give an alias to a namespace. This is done to make your code more readable.
```
import math as m
print(f'{m.exp2(8)}')
```
Finally, you can also import names directly into the main namespace
```
from math import sin
print(f'{sin(1)}')
```

Calculate the following and print them out.
Print them also once using `f` where you print only 2 decimal places.
* $25 \cdot 10$
* $e^4$
* $3 \cdot \pi$
* $sin(\pi)$

By placing `:.2f` between the format specifiers (e.g., {25*10:.2f}), you can limit the output to 2 decimal places. This can be useful for nicer formatting. The [formatting options](https://docs.python.org/3/library/string.html#format-examples) are quite extensive. We do not expect you to apply them yourself, but we often use it in the notebooks to present the output of code nicely.

In [28]:
from math import e, pi, sin, pow

print(25*10)
print(pow(e, 4))
print(3 * pi)
print(sin(pi))

250
54.59815003314423
9.42477796076938
1.2246467991473532e-16

Create separate variables for the following data. Then use the `type` function (e.g., type(a)) to print the data types of all variables.

* 1
* 1.23456
* 'Hello World'
* "Hello World"
* 2 > 5
* True
* NaN (Not a Number)
* infinity

In [29]:
a: int = 1
b: float = 1.23456
c: str = 'Hello World'
d: str = "Hello World"
e: bool = 2 > 5
f: bool = True
# NaN ???
# infinity ???

Try the following basic operations on strings:
* concatenation: with the `+` operator: `'Hello' + ' World'`
* `.upper()`
* `.replace( , )`
* `in` operator: `'He' in 'Hello'`
* `str(28)`: create a string object from `int`

## Exercise 2 - Data Structures in Python
### List

First, create an empty Python **list** `a`.

You can create an empty list with the `[]` operator, like this:

```python
a=[]
```
You can also create a list with the list() function, but usually, you use the square brackets where possible (see further for an example of using the list() function). Create your empty list below. Try both methods.

In [30]:
a = []

Now expand list a with the elements True and 10. Does this work? Could this also be done in Java? Use the append() method.

In [31]:
# In Java, the elements must be of the same type. So only if they have a common supertype can this be done.
# Since all classes inherit from Object, this can be done as List<object> a = new ArrayList<>(); but this has serious limitations in terms of using the elements. Unless you use instanceof and casts.
a = [*a, True, 10]
print(a)

[True, 10]

Insert the following list ['Hello', 10.3] between True and 10 using the insert method. Thus, you are going to add a list to a list.

In [32]:
print([a[0], 'Hello', 10.3, a[-1]])

[True, 'Hello', 10.3, 10]

The range function is handy. It allows you to quickly create a list with consecutive numbers rl = list(range(3)
```
l_range1 = list(range(3))  # [0,1,2]
l_range2 = list(range(3,6))  # start, stop [3,4,5] (6 not included)
l_range3 = list(range(10,20,2)) # start, stop, step [10,12,14,16,18] (6 not included)
```

Create a range from 0 to 100.
Create a second range from 101 to 1000 with steps of 10.
Create a list where the two previous ranges are stored in one list. (Tip: Use the list method extend)

In [33]:
a = list(range(0,101))
b = list(range(101, 1000, 10))
c = [*a, *b]
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 201, 211, 221, 231, 241, 251, 261, 271, 281, 291, 301, 311, 321, 331, 341, 351, 361, 371, 381, 391, 401, 411, 421, 431, 441, 451, 461, 471, 481, 491, 501, 511, 521, 531, 541, 551, 561, 571, 581, 591, 601, 611, 621, 631, 641, 651, 661, 671, 681, 691, 701, 711, 721, 731, 741, 751, 761, 771, 781, 791, 801, 811, 821, 831, 841, 851, 861, 871, 881, 891, 901, 911, 921, 931, 941, 951, 961, 971, 981, 991]

### Dictionary
A dictionary can be created with the {} operator. It works the same as a Map in Java.
```python
d = {
    # here come the key : value pairs.
    # keys are often strings
}
```
Now create a dictionary d with two keys:
* 'a' : ['e','f']
* 'b' : ['a','b']

and print it out.

In [34]:
d = {
    'a': ['e', 'f'],
    'b': ['a', 'b']
}
print(d)

{'a': ['e', 'f'], 'b': ['a', 'b']}

Try the methods .keys() and .values() on dictionary d. What does .items() do? Do you see a connection with the Map interface from Java? What does .items() do? Do you see a connection with the Map interface from Java?

In [35]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b'])
dict_values([['e', 'f'], ['a', 'b']])
dict_items([('a', ['e', 'f']), ('b', ['a', 'b'])])

Add the dictionary to the list a. Now look at list a. What do you see?

In [36]:
a = [*a, d]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, {'a': ['e', 'f'], 'b': ['a', 'b']}]

Print the length of the list with the len() function.

In [37]:
print(len(a))

102

Check if an element is in a list with the in operator: e in [...] Test this on list a.

In [39]:
print (1 in a)

True

Create a list b with the statement b=a. Change the first element of b to 10. Now print a. What do you notice?

In [40]:
print(a)
b = a
b[0] = 10
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, {'a': ['e', 'f'], 'b': ['a', 'b']}]
[10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, {'a': ['e', 'f'], 'b': ['a', 'b']}]

Test the following methods on list a:
* `.copy()`
* `.remove()`
* `.pop()`

### If-else
In Pyhon if structures are written as follows:
```python
if condition:
    a = 1
elif condition:
    a =2     
else:
    a = 3
```
Python uses indentation to indicate the code block. This is different from Java, where you use curly braces {}.
Now write an if-else structure that prints 'True' if n1 is greater than n2, 'False' if n1 is less than n2, and 'Equal' if they are equal. Create two variables n1 and n2 and test your if-else structure.

Now adjust the if-else structure so that the first if also prints 'True' if n1 is 0. Use the `or` operator and use == for comparison.

### Iterating over data
#### for-loop
Create a new list and iterate over it with a for-loop. You can do this as follows:
```python
a = je_lijst

for element in a:
    # doe iets met het element
```


Iterate over the list of letters of the alphabet and print them with their index. The list of letters of the alphabet is available in the string library.

```python
import string
string.ascii_letters  # this is a list of letters.
```

In [51]:
import string 

print(list(enumerate(string.ascii_letters)))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g'), (7, 'h'), (8, 'i'), (9, 'j'), (10, 'k'), (11, 'l'), (12, 'm'), (13, 'n'), (14, 'o'), (15, 'p'), (16, 'q'), (17, 'r'), (18, 's'), (19, 't'), (20, 'u'), (21, 'v'), (22, 'w'), (23, 'x'), (24, 'y'), (25, 'z'), (26, 'A'), (27, 'B'), (28, 'C'), (29, 'D'), (30, 'E'), (31, 'F'), (32, 'G'), (33, 'H'), (34, 'I'), (35, 'J'), (36, 'K'), (37, 'L'), (38, 'M'), (39, 'N'), (40, 'O'), (41, 'P'), (42, 'Q'), (43, 'R'), (44, 'S'), (45, 'T'), (46, 'U'), (47, 'V'), (48, 'W'), (49, 'X'), (50, 'Y'), (51, 'Z')]

#### List comprehension

A handy way to create a list is by using a list comprehension. A simple list comprehension is shown below. It is nothing more than a for-loop within square brackets ([]) where the function to be applied to the element comes before the for. List comprehensions provide compact code.

```python
[do_something_with(x) for x in list]
```
The example below creates a list of strings with a sequence number. It uses a formatted string.

```python
['column {i}' for i in range(1,21)]
```


Now create a list of squares, called squares, of all even numbers between 0 and 50 (inclusive).

In [54]:
squares = [x*x for x in range(51) if x % 2 == 0]
print(squares)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

## Exercise 3 - Multi-dimensional lists

Create a new Python list a that consists of two lists. You can do this by using square brackets twice.

```python
a = [
        [1,2,3],
        [4,5,6],
        ...
    ]
```
Create a two-dimensional list with 3 rows and 4 columns with the numbers 1 to 12. Do this in three ways:  
by writing out all the values yourself
by using the range() function
by using a double list comprehension (this is more difficult). [[func(e) for e in l1] for i in l2]

In [63]:
aa = [list(range(r * 4+1, r*4 +4+1)) for r in range(3)]
print(aa)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

Print the lengths of the different dimensions of your two-dimensional list. Apply the len() function to your entire list and to the rows of your list. Can you determine the dimensions (3 x 4)?

In [65]:
print(len(aa))
print([len(r) for r in aa])

3
[4, 4, 4]

## Exercise 4 - Python functions

As you probably know by now, Python is a complete object-oriented programming language, and of course, that includes user-defined functions. Here is an example of a function definition:

```python
def my_function(arg1, arg2, ..., argn):
    # here you can calculate anything
    # and possibly return one or more values with
    return a,b,c,d      # we return 4 values at once (this is actually a 4-tuple)

a,b,c,d = my_function(1, 2,..., 3)        # example of a call
```
Python is a dynamically typed language, which means that the data type of variables is only known during the execution of the program. This makes programming a bit more difficult because you are more likely to write errors (unlike Java). You can improve this somewhat by writing type hints yourself. You do this as follows, applied to the above example:

```python
def my_function(arg1 : int,arg2 : bool, ... ,argn: float):
    # here you can calculate anything
    # and possibly return one or more values with
    return a,b,c,d      # we return 4 values

a,b,c,d = my_function(1, True,..., 3.3)       # example of a call     # voorbeeld van een aanroep
```
PyCharm can take this into account and provide you with better code completion.
Now write a function that calculates the BMI of a person based on their height (in meters, float), and their weight (in kg, float). and then execute it

In [69]:
def bmi(kg: int, cm: int):
    m = cm / 100
    return kg/(m*m)

print(bmi(70, 170))

24.221453287197235

You do not have to pass the parameters in order, but then you name the parameters
```
my_function(arg2=False, arg1=1)
```

You can also provide defaults for the parameters in the function. If you do not provide the parameter when executing, the function will use the default value. The parameters with defaults must always be placed after the non-default parameters

```
def my_function(arg2 :bool, arg1 : int = 1): ...

my_function(arg2 = True)
```

Modify your bmi function so that the height defaults to 1.75. Call the function with only the weight as a parameter.

In [70]:
def bmi(kg: int, cm: int = 175):
    m = cm / 100
    return kg/(m*m)

print(bmi(70))

22.857142857142858