## Exercices : Aggregation and grouping

### Aggregation

In [49]:
#  Aggregation Functions in Pandas with Realistic Product Data

# Import necessary libraries
import pandas as pd
import numpy as np

# Consider Weekly sales of different products
data = {
    'Earphones': [150, 200, 190, 250, 300],
    'Laptop': [50, 60, 55, 65, 80],
    'Cell Phone': [300, 320, 310, 305, 315],
    'Power Bank': [400, 420, 410, 430, 450]
}

# Index represents the week numbers (Week 1 to Week 5)
index = ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5']

# Create DataFrame
df = pd.DataFrame(data, index=index)
df

        Earphones  Laptop  Cell Phone  Power Bank
Week 1        150      50         300         400
Week 2        200      60         320         420
Week 3        190      55         310         410
Week 4        250      65         305         430
Week 5        300      80         315         450

3) Answer following questions with code:\
   a) Get the total amount of products sold for each week\
   b) Get the total amount of products sold for each category\
   c) Get the total amount of sold products

In [50]:
# Hint: Use df.sum() with axis=0 and axis=1.

#SOLUTION_START
print(f"Count of sales data along products:\n{df.sum(axis=0)}")
print(f"Count of sales data along weeks:\n{df.sum(axis=1)}")
print(f"Total number of products sold:\n{df.sum(axis=1).sum()}")
#SOLUTION_END

Count of sales data along products:
Earphones     1090
Laptop         310
Cell Phone    1550
Power Bank    2110
dtype: int64
Count of sales data along weeks:
Week 1     900
Week 2    1000
Week 3     965
Week 4    1050
Week 5    1145
dtype: int64
Total number of products sold:
5060

2) a) Calculate the mean of sold products across weeks\
   b) Calculate the median for each week\
   c) Calculate the overall mean of products sold per week

In [51]:
#SOLUTION_START
mean_sales = df.mean(axis=0)
print(f"Mean sales for each product across weeks:\n{df.mean(axis=0)}")
median_weekly_sales = df.median(axis=1)
print(f"Median sales for each week across products:\n{df.median(axis=1)}")
#Overall median
total_mean_sales = df.mean(axis=0).mean()
print(f"Mean sales overall:{df.mean(axis=0).mean()}")
#SOLUTION_END

Mean sales for each product across weeks:
Earphones     218.0
Laptop         62.0
Cell Phone    310.0
Power Bank    422.0
dtype: float64
Median sales for each week across products:
Week 1    225.0
Week 2    260.0
Week 3    250.0
Week 4    277.5
Week 5    307.5
dtype: float64
Mean sales overall:253.0

3) a) What was the maximum number of items sold in one week for Cell Phone's\
   b) What is the minimum number of items sold in week 3?\
   c) What are the minimum sales for each week across products\
   d) What are the maximum sales for each product across weeks

In [52]:
#SOLUTION_START
print(f"Maximum sales for cell phones across weeks:{df['Cell Phone'].max()}")
print(f"Min sales for week 3:{df.loc["Week 3"].min()}")
print(f"Minimum sales for each week across products:\n{df.min(axis=1)}")
print(f"Maximum sales for each week across products:\n{df.max(axis=0)}")
#SOLUTION_END

Maximum sales for cell phones across weeks:320
Min sales for week 3:55
Minimum sales for each week across products:
Week 1    50
Week 2    60
Week 3    55
Week 4    65
Week 5    80
dtype: int64
Maximum sales for each week across products:
Earphones     300
Laptop         80
Cell Phone    320
Power Bank    450
dtype: int64

5) a) Count the number of items in a row\
   b) Count the number of itams in a column

In [53]:
#SOLUTION_START
print(f"Count of sales data along products (axis=0):\n{df.count(axis=0)}")
print(f"Count of sales data along weeks (axis=1):\n{df.count(axis=1)}")
#SOLUTION_END

Count of sales data along products (axis=0):
Earphones     5
Laptop        5
Cell Phone    5
Power Bank    5
dtype: int64
Count of sales data along weeks (axis=1):
Week 1    4
Week 2    4
Week 3    4
Week 4    4
Week 5    4
dtype: int64

### Grouping

First consider the dataframe df

In [54]:
import pandas as pd
import numpy as np

# Original data with computer-related products
data = {
    'productName': ['Laptop', 'Monitor', 'Mouse', 'Keyboard', 'External Hard Drive'] * 4,
    'week': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
    'amount_sold': [120, 80, 50, 40, 90, 130, 85, 60, 55, 95, 125, 90, 70, 45, 100, 140, 100, 65, 50, 110],
    'price': [999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99]
}

# Additional data
additional_data = {
    'productName': ['Graphics Card', 'Gaming Chair', 'Headset', 'Webcam', 'Router'] * 4,
    'week': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
    'amount_sold': [30, 15, 60, 25, 45, 50, 20, 75, 35, 40, 60, 25, 80, 30, 50, 65, 35, 85, 40, 55],
    'price': [599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99]
}

# Creating DataFrames
df_computer = pd.DataFrame(data)
df_additional = pd.DataFrame(additional_data)

# Concatenating the new data with the existing DataFrame
df_combined = pd.concat([df_computer, df_additional], ignore_index=True)

# Shuffling the rows of the combined DataFrame
df = df_combined.sample(frac=1).reset_index(drop=True)

# Displaying the shuffled DataFrame
df.count(axis=0)

productName    40
week           40
amount_sold    40
price          40
dtype: int64

6) a) Calculate the total number of units sold for each product across all weeks.\
   b) Calculate the average price for each product.\
   c) Calculate the total revenue for each week.

In [55]:
#SOLUTION_START
# a. Grouping by productName to calculate total units sold per product
print(df.groupby('productName')['amount_sold'].sum())
# b.Grouping by productName to calculate average price
print(df.groupby('productName')['price'].mean())
# c.
# Creating a new column for revenue
df['revenue'] = df['amount_sold'] * df['price']
# Grouping by week to calculate total revenue per week
print(df.groupby('week')['revenue'].sum())
#SOLUTION_END

productName
External Hard Drive    395
Gaming Chair            95
Graphics Card          205
Headset                300
Keyboard               190
Laptop                 515
Monitor                355
Mouse                  245
Router                 190
Webcam                 130
Name: amount_sold, dtype: int64
productName
External Hard Drive     79.99
Gaming Chair           150.99
Graphics Card          599.99
Headset                 49.99
Keyboard                49.99
Laptop                 999.99
Monitor                199.99
Mouse                   25.99
Router                 129.99
Webcam                  89.99
Name: price, dtype: float64
week
1    177859.45
2    204023.55
3    208038.25
4    232267.55
Name: revenue, dtype: float64

7) Find the product that sold the most units in each week.

In [56]:
#SOLUTION_START
# Grouping by week to find the product with the maximum amount sold
df_max_sold_per_week = df.loc[df.groupby('week')['amount_sold'].idxmax()]
print(df_max_sold_per_week[['week', 'productName', 'amount_sold']])
#SOLUTION_END

    week productName  amount_sold
8      1      Laptop          120
14     2      Laptop          130
21     3      Laptop          125
22     4      Laptop          140

8) Calculate the average number of units sold per product.

In [57]:
#SOLUTION_START
# Grouping by productName to calculate average amount sold per product p
df_avg_sold_per_product = df.groupby(['productName'])['amount_sold'].mean()
print(df_avg_sold_per_product)
#SOLUTION_END

productName
External Hard Drive     98.75
Gaming Chair            23.75
Graphics Card           51.25
Headset                 75.00
Keyboard                47.50
Laptop                 128.75
Monitor                 88.75
Mouse                   61.25
Router                  47.50
Webcam                  32.50
Name: amount_sold, dtype: float64

9) For each product provide a list of the minimum amount sold, the average and the maximum amount sold

In [58]:
#SOLUTION_START
df[['productName','amount_sold']].groupby('productName').aggregate(['min', 'mean', 'max'])
#SOLUTION_END

                    amount_sold
                            min    mean  max
productName
External Hard Drive          90   98.75  110
Gaming Chair                 15   23.75   35
Graphics Card                30   51.25   65
Headset                      60   75.00   85
Keyboard                     40   47.50   55
Laptop                      120  128.75  140
Monitor                      80   88.75  100
Mouse                        50   61.25   70
Router                       40   47.50   55
Webcam                       25   32.50   40

10) Provide a table with the productnames and the minimum price for that product the total amount sold and the total revenue for that product

In [59]:
#SOLUTION_START
df.groupby('productName').aggregate({'price':'min',
                                     'amount_sold':'sum',
                                     'revenue':'sum'}
                                     )
#SOLUTION_END

                      price  amount_sold    revenue
productName
External Hard Drive   79.99          395   31596.05
Gaming Chair         150.99           95   14344.05
Graphics Card        599.99          205  122997.95
Headset               49.99          300   14997.00
Keyboard              49.99          190    9498.10
Laptop               999.99          515  514994.85
Monitor              199.99          355   70996.45
Mouse                 25.99          245    6367.55
Router               129.99          190   24698.10
Webcam                89.99          130   11698.70

11) Only show the productnames which have  sold less than 150 in total over all the dataset and show also the amount_sold in total

In [60]:
#SOLUTION_START
def filter_func(x):
    return x['amount_sold'].sum() < 150

display(df.groupby('productName').filter(filter_func).groupby('productName').aggregate({'amount_sold':'sum'}))
#SOLUTION_END

              amount_sold
productName
Gaming Chair           95
Webcam                130