Dataframe 'europe' is a dataframe with the countries of Europe as the index. It contains the columns population and GDP.\
National_dept is stored in a series-object and is only available for a few countries.\
The source-data apperently contained some errors. europe_correction is a series with the same index as 'europe' and contains the correction factors for the data.\
 *We asked Copilot to generate the data, so it is probably no accurate data*

In [23]:
import numpy as np
import pandas as pd
import sklearn.datasets as ds

#Data preperation
rng = np.random.default_rng(42)
#@copilot: create a dataframe with the countries of europe as the index, with a column population and gbp
countries = ['France', 'Germany', 'Italy', 'Spain', 'Portugal', 'Greece', 'Belgium', 'Netherlands', 'Luxembourg', 'Austria', 'Switzerland', 'Denmark', 'Sweden', 'Norway', 'Finland', 'Iceland', 'Ireland', 'United Kingdom']
population = [67, 83, 60, 47, 10, 11, 11, 17, 0.6, 9, 8, 6, 10, 5, 5, 0.3, 5, 67]
GDP = [2.78, 4.42, 2.08, 1.39, 0.23, 0.18, 0.53, 0.91, 0.06, 0.45, 0.70, 0.35, 0.53, 0.40, 0.27, 0.02, 0.33, 2.83]

national_dept = pd.Series([2.36, 2.09, 2.34, 1.18, 2.32], index=['France', 'Belgium', 'Italy', 'Austria', 'Monaco'])
europe = pd.DataFrame({'population': population, 'GDP': GDP}, index=countries)
europe.sort_index(inplace=True)

europe_correction= rng.choice([0.99, 0.98,1.01,1], size=18)

Before you start, familiarize yourself with the dataframe.

a. Add a column to the dataframe GDP_per_capita which is the GDP divided by the population. Check the result.

In [24]:
europe['GDP_per_capita'] = europe['GDP'] / europe['population'] 
europe

                population   GDP  GDP_per_capita
Austria                9.0  0.45        0.050000
Belgium               11.0  0.53        0.048182
Denmark                6.0  0.35        0.058333
Finland                5.0  0.27        0.054000
France                67.0  2.78        0.041493
Germany               83.0  4.42        0.053253
Greece                11.0  0.18        0.016364
Iceland                0.3  0.02        0.066667
Ireland                5.0  0.33        0.066000
Italy                 60.0  2.08        0.034667
Luxembourg             0.6  0.06        0.100000
Netherlands           17.0  0.91        0.053529
Norway                 5.0  0.40        0.080000
Portugal              10.0  0.23        0.023000
Spain                 47.0  1.39        0.029574
Sweden                10.0  0.53        0.053000
Switzerland            8.0  0.70        0.087500
United Kingdom        67.0  2.83        0.042239

b. Create a series national_dept_per_capita with the same index as the dataframe europe. It contains the national_dept divided by the population. Check the result.

In [25]:
national_debt_per_capita = national_dept / europe['population']
national_debt_per_capita

Austria           0.131111
Belgium           0.190000
Denmark                NaN
Finland                NaN
France            0.035224
Germany                NaN
Greece                 NaN
Iceland                NaN
Ireland                NaN
Italy             0.039000
Luxembourg             NaN
Monaco                 NaN
Netherlands            NaN
Norway                 NaN
Portugal               NaN
Spain                  NaN
Sweden                 NaN
Switzerland            NaN
United Kingdom         NaN
dtype: float64

c. Create a series national_dept_per_capita_b with the same index as the dataframe europe.It contains the national_dept divided by the population. When indexes don't align, the result should be set to 0. Check the result.

In [26]:
national_debt_per_capita_b = national_dept.divide(europe['population'], fill_value=0)
national_debt_per_capita_b

Austria           0.131111
Belgium           0.190000
Denmark           0.000000
Finland           0.000000
France            0.035224
Germany           0.000000
Greece            0.000000
Iceland           0.000000
Ireland           0.000000
Italy             0.039000
Luxembourg        0.000000
Monaco                 inf
Netherlands       0.000000
Norway            0.000000
Portugal          0.000000
Spain             0.000000
Sweden            0.000000
Switzerland       0.000000
United Kingdom    0.000000
dtype: float64

d. Add national_dept and national_dept_per_capita_b to the dataframe europe

In [27]:
europe['national_debt'] = national_dept
europe['national_debt_per_capita_b'] = national_debt_per_capita_b
europe

,population,GDP,GDP_per_capita,national_debt,national_debt_per_capita_b
Austria,9.0,0.45,0.050000,1.18,0.131111
Belgium,11.0,0.53,0.048182,2.09,0.190000
Denmark,6.0,0.35,0.058333,NaN,0.000000
Finland,5.0,0.27,0.054000,NaN,0.000000
France,67.0,2.78,0.041493,2.36,0.035224
Germany,83.0,4.42,0.053253,NaN,0.000000
Greece,11.0,0.18,0.016364,NaN,0.000000
Iceland,0.3,0.02,0.066667,NaN,0.000000
Ireland,5.0,0.33,0.066000,NaN,0.000000
Italy,60.0,2.08,0.034667,2.34,0.039000
Luxembourg,0.6,0.06,0.100000,NaN,0.000000
Netherlands,17.0,0.91,0.053529,NaN,0.000000
Norway,5.0,0.40,0.080000,NaN,0.000000
Portugal,10.0,0.23,0.023000,NaN,0.000000
Spain,47.0,1.39,0.029574,NaN,0.000000
Sweden,10.0,0.53,0.053000,NaN,0.000000
Switzerland,8.0,0.70,0.087500,NaN,0.000000
United Kingdom,67.0,2.83,0.042239,NaN,0.000000


e. All numbers in the dataframe have to be corrected, by multiplying every row with the corresponding value in europe_correction.

In [38]:
print(europe_correction)
print(europe)
europe = europe.mul(europe_correction, axis=0)
europe

[0.99 1.   1.01 0.98 0.98 1.   0.99 1.01 0.99 0.99 1.01 1.   1.01 1.
 1.01 1.   1.01 0.99]
                population     GDP  GDP_per_capita  national_debt  \
Austria              8.910  0.4455        0.049500         1.1682
Belgium             11.000  0.5300        0.048182         2.0900
Denmark              6.060  0.3535        0.058917            NaN
Finland              4.900  0.2646        0.052920            NaN
France              65.660  2.7244        0.040663         2.3128
Germany             83.000  4.4200        0.053253            NaN
Greece              10.890  0.1782        0.016200            NaN
Iceland              0.303  0.0202        0.067333            NaN
Ireland              4.950  0.3267        0.065340            NaN
Italy               59.400  2.0592        0.034320         2.3166
Luxembourg           0.606  0.0606        0.101000            NaN
Netherlands         17.000  0.9100        0.053529            NaN
Norway               5.050  0.4040        0.080800            NaN
Portugal            10.000  0.2300        0.023000            NaN
Spain               47.470  1.4039        0.029870            NaN
Sweden              10.000  0.5300        0.053000            NaN
Switzerland          8.080  0.7070        0.088375            NaN
United Kingdom      66.330  2.8017        0.041816            NaN

                national_debt_per_capita_b
Austria                           0.129800
Belgium                           0.190000
Denmark                           0.000000
Finland                           0.000000
France                            0.034519
Germany                           0.000000
Greece                            0.000000
Iceland                           0.000000
Ireland                           0.000000
Italy                             0.038610
Luxembourg                        0.000000
Netherlands                       0.000000
Norway                            0.000000
Portugal                          0.000000
Spain                             0.000000
Sweden                            0.000000
Switzerland                       0.000000
United Kingdom                    0.000000

,population,GDP,GDP_per_capita,national_debt,national_debt_per_capita_b
Austria,8.82090,0.441045,0.049005,1.156518,0.128502
Belgium,11.00000,0.530000,0.048182,2.090000,0.190000
Denmark,6.12060,0.357035,0.059506,NaN,0.000000
Finland,4.80200,0.259308,0.051862,NaN,0.000000
France,64.34680,2.669912,0.039849,2.266544,0.033829
Germany,83.00000,4.420000,0.053253,NaN,0.000000
Greece,10.78110,0.176418,0.016038,NaN,0.000000
Iceland,0.30603,0.020402,0.068007,NaN,0.000000
Ireland,4.90050,0.323433,0.064687,NaN,0.000000
Italy,58.80600,2.038608,0.033977,2.293434,0.038224
Luxembourg,0.61206,0.061206,0.102010,NaN,0.000000
Netherlands,17.00000,0.910000,0.053529,NaN,0.000000
Norway,5.10050,0.408040,0.081608,NaN,0.000000
Portugal,10.00000,0.230000,0.023000,NaN,0.000000
Spain,47.94470,1.417939,0.030169,NaN,0.000000
Sweden,10.00000,0.530000,0.053000,NaN,0.000000
Switzerland,8.16080,0.714070,0.089259,NaN,0.000000
United Kingdom,65.66670,2.773683,0.041398,NaN,0.000000

f. population, GDP and national_dept are in billions.Create a new dataframe europe_c with these columns adjusted. Check the result.

In [44]:
europe[['population', 'GDP', 'national_debt']] *= 1_000_000_000
europe

,population,GDP,GDP_per_capita,national_debt,national_debt_per_capita_b
Austria,8.820900e+09,4.851495e+35,0.049005,1.156518e+18,0.128502
Belgium,1.100000e+10,5.830000e+35,0.048182,2.090000e+18,0.190000
Denmark,6.120600e+09,3.927385e+35,0.059506,NaN,0.000000
Finland,4.802000e+09,2.852388e+35,0.051862,NaN,0.000000
France,6.434680e+10,2.936903e+36,0.039849,2.266544e+18,0.033829
Germany,8.300000e+10,4.862000e+36,0.053253,NaN,0.000000
Greece,1.078110e+10,1.940598e+35,0.016038,NaN,0.000000
Iceland,3.060300e+08,2.244220e+34,0.068007,NaN,0.000000
Ireland,4.900500e+09,3.557763e+35,0.064687,NaN,0.000000
Italy,5.880600e+10,2.242469e+36,0.033977,2.293434e+18,0.038224
Luxembourg,6.120600e+08,6.732660e+34,0.102010,NaN,0.000000
Netherlands,1.700000e+10,1.001000e+36,0.053529,NaN,0.000000
Norway,5.100500e+09,4.488440e+35,0.081608,NaN,0.000000
Portugal,1.000000e+10,2.530000e+35,0.023000,NaN,0.000000
Spain,4.794470e+10,1.559733e+36,0.030169,NaN,0.000000
Sweden,1.000000e+10,5.830000e+35,0.053000,NaN,0.000000
Switzerland,8.160800e+09,7.854770e+35,0.089259,NaN,0.000000
United Kingdom,6.566670e+10,3.051051e+36,0.041398,NaN,0.000000