## Exercices : Aggregation and grouping

### Aggregation

In [49]:
#  Aggregation Functions in Pandas with Realistic Product Data

# Import necessary libraries
import pandas as pd
import numpy as np

# Consider Weekly sales of different products
data = {
    'Earphones': [150, 200, 190, 250, 300],
    'Laptop': [50, 60, 55, 65, 80],
    'Cell Phone': [300, 320, 310, 305, 315],
    'Power Bank': [400, 420, 410, 430, 450]
}

# Index represents the week numbers (Week 1 to Week 5)
index = ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5']

# Create DataFrame
df = pd.DataFrame(data, index=index)
df

3) Answer following questions with code:\
   a) Get the total amount of products sold for each week\
   b) Get the total amount of products sold for each category\
   c) Get the total amount of sold products

In [50]:
# Hint: Use df.sum() with axis=0 and axis=1.

2) a) Calculate the mean of sold products across weeks\
   b) Calculate the median for each week\
   c) Calculate the overall mean of products sold per week

3) a) What was the maximum number of items sold in one week for Cell Phone's\
   b) What is the minimum number of items sold in week 3?\
   c) What are the minimum sales for each week across products\
   d) What are the maximum sales for each product across weeks

5) a) Count the number of items in a row\
   b) Count the number of itams in a column

### Grouping

First consider the dataframe df

In [54]:
import pandas as pd
import numpy as np

# Original data with computer-related products
data = {
    'productName': ['Laptop', 'Monitor', 'Mouse', 'Keyboard', 'External Hard Drive'] * 4,
    'week': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
    'amount_sold': [120, 80, 50, 40, 90, 130, 85, 60, 55, 95, 125, 90, 70, 45, 100, 140, 100, 65, 50, 110],
    'price': [999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99]
}

# Additional data
additional_data = {
    'productName': ['Graphics Card', 'Gaming Chair', 'Headset', 'Webcam', 'Router'] * 4,
    'week': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
    'amount_sold': [30, 15, 60, 25, 45, 50, 20, 75, 35, 40, 60, 25, 80, 30, 50, 65, 35, 85, 40, 55],
    'price': [599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99]
}

# Creating DataFrames
df_computer = pd.DataFrame(data)
df_additional = pd.DataFrame(additional_data)

# Concatenating the new data with the existing DataFrame
df_combined = pd.concat([df_computer, df_additional], ignore_index=True)

# Shuffling the rows of the combined DataFrame
df = df_combined.sample(frac=1).reset_index(drop=True)

# Displaying the shuffled DataFrame
df.count(axis=0)

6) a) Calculate the total number of units sold for each product across all weeks.\
   b) Calculate the average price for each product.\
   c) Calculate the total revenue for each week.

7) Find the product that sold the most units in each week.

8) Calculate the average number of units sold per product.

9) For each product provide a list of the minimum amount sold, the average and the maximum amount sold

10) Provide a table with the productnames and the minimum price for that product the total amount sold and the total revenue for that product

11) Only show the productnames which have  sold less than 150 in total over all the dataset and show also the amount_sold in total