In [3]:
import pandas as pd

# Reading Data

Very often you will need to read data from a file. In most cases, this will be a CSV file. A CSV file can be read and placed into a Pandas `DataFrame`. The first row of the file is usually used as a header. Pandas will automatically create column names based on the header, but you can also provide your own column names. You can also read data from other sources such as an SQL database, an Excel file, a JSON file, etc. For more information on reading data, see the [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html).

## Reading CSV files and working with a dataframe
### CSV File format
Data in Data Science is often stored in files with the extension *.csv*. CSV stands for **Comma Separated Value**. This means that the values are separated by commas, and it is a standard that was established in the 1970s. That abbreviation has remained, but nowadays values can also be separated by other characters, such as a Tab or a semicolon (;). That character is also called the delimiter or the separator. In CSV files, strings are usually also placed between quotation marks, especially when they contain spaces (or the separator, for example), so it is clear where the string begins and ends within a CSV.

Decimal numbers can be stored in two ways: with a decimal point or with a decimal comma. If you save a file in a Dutch-language Excel, you will see that a decimal comma is automatically used. In an English-language Excel, it will be a decimal point. Therefore, we recommend, only for this course, not to work with Excel.

Before reading a *.csv* file, you should always first check in a text editor how it is stored. By which character are the values separated? What is the decimal notation? In PyCharm, this can also be done, and moreover, PyCharm offers the possibility to immediately view a CSV file as a real table.

Go to the `data` folder and open a CSV file in PyCharm. You will notice that there are tabs at the bottom that allow you to choose how you
In PyCharm, you can view a CSV file as a table.

### Reading a CSV file

```data = pd.read_csv('datasets/persons1.csv', )```

__READING A CSV FILE IS ONE OF THE MOST COMMON TASKS IN DATA SCIENCE. YOU ARE EXPECTED TO BE ABLE TO DO THIS FLUENTLY DURING EVALUATIONS. MANY STUDENTS LOSE UNNECESSARY TIME OR ARE NOT ABLE TO SOLVE THE QUESTIONS BECAUSE THEY ARE NOT FAMILIAR WITH THIS TASK.__

Go to the data directory and open BicycleWeather.csv in PyCharm. 
a. What is the seperator in this file?
b. Read the dataset into a DataFrame using the read_csv function. Use the sep parameter to specify the separator.

In [2]:
import pandas as pd 

data = pd.read_csv('data/BicycleWeather.csv')
data

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,...,WT17,WT05,WT02,WT22,WT04,WT13,WT16,WT08,WT18,WT03
0,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120101,0,0,0,128,50,47,100,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120102,109,0,0,106,28,45,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120103,8,0,0,117,72,23,180,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120104,203,0,0,122,56,47,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120105,13,0,0,89,28,61,200,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20150828,5,0,0,233,156,26,230,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1336,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20150829,325,0,0,222,133,58,210,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1337,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20150830,102,0,0,200,128,47,200,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1338,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20150831,0,0,0,189,161,58,210,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1339,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20150901,58,0,0,194,139,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In PyCharm you can view the dataframe in a table format. Go to the data variable in the jupyter tab and click on "View as DataFrame".
You can of course also print the data in a cell.

In [3]:
print(data)

                STATION                                STATION_NAME      DATE  \
0     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120101
1     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120102
2     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120103
3     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120104
4     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120105
...                 ...                                         ...       ...
1335  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150828
1336  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150829
1337  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150830
1338  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150831
1339  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150901

      PRCP  SNWD  SNOW  TMAX  TMIN  AWND  WDF2  ...  WT17  WT05  WT02  WT22  \
0        0     0     0   128    50    47   100  ... -9999 -9999 -9999 -9999
1      109     0     0   106    28    45   180  ... -9999 -9999 -9999 -9999
2        8     0     0   117    72    23   180  ... -9999 -9999 -9999 -9999
3      203     0     0   122    56    47   180  ... -9999 -9999 -9999 -9999
4       13     0     0    89    28    61   200  ... -9999 -9999 -9999 -9999
...    ...   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...
1335     5     0     0   233   156    26   230  ... -9999 -9999 -9999 -9999
1336   325     0     0   222   133    58   210  ... -9999 -9999 -9999 -9999
1337   102     0     0   200   128    47   200  ... -9999 -9999 -9999 -9999
1338     0     0     0   189   161    58   210  ... -9999 -9999 -9999 -9999
1339    58     0     0   194   139 -9999 -9999  ... -9999 -9999 -9999 -9999

      WT04  WT13  WT16  WT08  WT18  WT03
0    -9999 -9999 -9999 -9999 -9999 -9999
1    -9999     1     1 -9999 -9999 -9999
2    -9999 -9999     1 -9999 -9999 -9999
3    -9999     1     1 -9999 -9999 -9999
4    -9999 -9999     1 -9999 -9999 -9999
...    ...   ...   ...   ...   ...   ...
1335 -9999 -9999 -9999 -9999 -9999 -9999
1336 -9999 -9999 -9999 -9999 -9999 -9999
1337 -9999 -9999 -9999 -9999 -9999 -9999
1338 -9999 -9999 -9999 -9999 -9999 -9999
1339 -9999 -9999 -9999 -9999 -9999 -9999

[1340 rows x 26 columns]

Now, investigate the data with describe(), info() and head() functions.

In [4]:
data.describe()

,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,WDF5,WSF2,...,WT17,WT05,WT02,WT22,WT04,WT13,WT16,WT08,WT18,WT03
count,1.340000e+03,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,...,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,2.013427e+07,28.292537,0.324627,-29.545522,166.672388,83.249254,24.692537,170.840299,22.154478,64.513433,...,-9991.537313,-9984.074627,-9491.537313,-9931.835821,-9961.686567,-8543.776119,-7999.000000,-9767.656716,-9849.746269,-9887.059701
std,1.063978e+04,62.763097,4.479127,545.736003,74.331651,50.563330,274.396498,296.343588,1298.860605,276.304370,...,273.179182,386.189416,2195.610628,817.085672,609.934146,3527.583977,4001.493373,1503.861989,1212.995740,1052.472800
min,2.012010e+07,0.000000,0.000000,-9999.000000,-16.000000,-71.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,2.012118e+07,0.000000,0.000000,0.000000,111.000000,44.000000,22.000000,107.500000,120.000000,54.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
50%,2.013107e+07,0.000000,0.000000,0.000000,156.000000,83.000000,30.000000,200.000000,205.000000,67.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
75%,2.014100e+07,25.000000,0.000000,0.000000,222.000000,122.000000,40.000000,230.000000,240.000000,89.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
max,2.015090e+07,559.000000,80.000000,173.000000,356.000000,183.000000,95.000000,360.000000,360.000000,192.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
data.head()

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,...,WT17,WT05,WT02,WT22,WT04,WT13,WT16,WT08,WT18,WT03
0,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120101,0,0,0,128,50,47,100,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120102,109,0,0,106,28,45,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120103,8,0,0,117,72,23,180,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120104,203,0,0,122,56,47,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120105,13,0,0,89,28,61,200,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATION       1340 non-null   object
 1   STATION_NAME  1340 non-null   object
 2   DATE          1340 non-null   int64
 3   PRCP          1340 non-null   int64
 4   SNWD          1340 non-null   int64
 5   SNOW          1340 non-null   int64
 6   TMAX          1340 non-null   int64
 7   TMIN          1340 non-null   int64
 8   AWND          1340 non-null   int64
 9   WDF2          1340 non-null   int64
 10  WDF5          1340 non-null   int64
 11  WSF2          1340 non-null   int64
 12  WSF5          1340 non-null   int64
 13  FMTM          1340 non-null   int64
 14  WT14          1340 non-null   int64
 15  WT01          1340 non-null   int64
 16  WT17          1340 non-null   int64
 17  WT05          1340 non-null   int64
 18  WT02          1340 non-null   int64
 19  WT22          1340 non-null   int64
 20  WT04          1340 non-null   int64
 21  WT13          1340 non-null   int64
 22  WT16          1340 non-null   int64
 23  WT08          1340 non-null   int64
 24  WT18          1340 non-null   int64
 25  WT03          1340 non-null   int64
dtypes: int64(24), object(2)
memory usage: 272.3+ KB

Select columns Station_name, date and TMAX from rows with index 10 to 20.

In [17]:
data.loc[10:20,['STATION_NAME', 'DATE', 'TMAX']]

                                  STATION_NAME      DATE  TMAX
10  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120111    61
11  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120112    61
12  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120113    50
13  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120114    44
14  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120115    11
15  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120116    17
16  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120117    33
17  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120118     0
18  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120119   -11
19  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120120    72
20  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120121    83

Now, read the file again, but this time use the extra parameter names to specify your own column names. Use range(0, 10) as column names.

In [23]:
data = pd.read_csv('data/BicycleWeather.csv', names=range(0,10))
data

                                                                                                                                                    0  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT17
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    1  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT05
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    2  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT02
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    3  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT22
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    4  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT04
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    5  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT13
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1          1
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1          1
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    6  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT16
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1          1
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999      1
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1          1
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    7  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT08
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    8  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT18
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

                                                                                                                                                    9
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND  WDF2  WDF5  WSF2  WSF5  FMTM  WT14  WT01    WT03
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47    100   90    89    112   -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45    180   200   130   179   -9999 -9999 1      -9999
                                                             20120103 8    0    0    117  72   23    180   170   54    67    -9999 -9999 -9999  -9999
                                                             20120104 203  0    0    122  56   47    180   190   107   148   -9999 -9999 1      -9999
...                                                                                                                                               ...
                                                             20150828 5    0    0    233  156  26    230   240   81    103   -9999 -9999 1      -9999
                                                             20150829 325  0    0    222  133  58    210   210   157   206   -9999 -9999 1      -9999
                                                             20150830 102  0    0    200  128  47    200   200   89    112   -9999 -9999 1      -9999
                                                             20150831 0    0    0    189  161  58    210   210   112   134   -9999 -9999 -9999  -9999
                                                             20150901 58   0    0    194  139  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999  -9999

[1341 rows x 10 columns]

Look at the first three rows of the data. What problem do you see?

In [21]:
data.iloc[:3]

                                                                                                                                               0  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT17
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

                                                                                                                                               1  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT05
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

                                                                                                                                               2  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT02
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

                                                                                                                                               3  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT22
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

                                                                                                                                               4  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT04
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

                                                                                                                                               5  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT13
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1          1

                                                                                                                                               6  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT16
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1          1

                                                                                                                                               7  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT08
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

                                                                                                                                               8  \
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT18
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

                                                                                                                                               9
STATION           STATION_NAME                               DATE     PRCP SNWD SNOW TMAX TMIN AWND WDF2 WDF5 WSF2 WSF5 FMTM  WT14  WT01    WT03
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0    0    0    128  50   47   100  90   89   112  -9999 1     -9999  -9999
                                                             20120102 109  0    0    106  28   45   180  200  130  179  -9999 -9999 1      -9999

Try to solve the problem by using the header parameter.

In [26]:
data = pd.read_csv('data/BicycleWeather.csv', names=range(0,10), header=0)
data

                                                                                                                                          0  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          1  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          2  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          3  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          4  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          5  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1        1
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1        1
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          6  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1        1
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999     1
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1        1
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1        1
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          7  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          8  \
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                                                                                                                                          9
GHCND:USW00024233 SEATTLE TACOMA INTERNATIONAL AIRPORT WA US 20120101 0   0 0 128 50   47    100   90    89    112  -9999  1    -9999 -9999
                                                             20120102 109 0 0 106 28   45    180   200   130   179  -9999 -9999  1    -9999
                                                             20120103 8   0 0 117 72   23    180   170   54    67   -9999 -9999 -9999 -9999
                                                             20120104 203 0 0 122 56   47    180   190   107   148  -9999 -9999  1    -9999
                                                             20120105 13  0 0 89  28   61    200   220   107   165  -9999 -9999  1    -9999
...                                                                                                                                     ...
                                                             20150828 5   0 0 233 156  26    230   240   81    103  -9999 -9999  1    -9999
                                                             20150829 325 0 0 222 133  58    210   210   157   206  -9999 -9999  1    -9999
                                                             20150830 102 0 0 200 128  47    200   200   89    112  -9999 -9999  1    -9999
                                                             20150831 0   0 0 189 161  58    210   210   112   134  -9999 -9999 -9999 -9999
                                                             20150901 58  0 0 194 139 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

[1340 rows x 10 columns]

## Categorical Variables
We start by creating a Pandas Categorical Series. A Categorical Series is a list of values that all come from a certain category. A categorical variable can take on a fixed number of values, which are usually expressed in strings. A categorical variable represents a nominal or ordinal variable, depending on whether the values in the list have a certain order or not.


Take your **blood type** as an example. Possible values are:

``> O-, O+, B-, B+, A-, A+, AB-, AB+``

From the introduction, we know that blood type is a **nominal variable**.
You cannot perform calculations with these values. There are also examples where there is an order, for example:

Take the degree of agreement as an example. Possible values could be:\
``> none, little, more, most``\
This is clearly an example of an **ordinal variable**.
Sometimes the values of a categorical variable are represented by numbers, but they are still categorical variables. Do not be misled by this.

From the theory of measurement scales, we know that nominal variables can only be compared (using the = operator) and ordinal variables can at most be sorted (using <, >, = operators).  To work efficiently with these values, an index or category is assigned to them. Because this index is a number, it is much faster to find values of the correct category in a large dataset. Run the following code to create a nominal variable blood types.

Run the following code to create a nominal variable blood types.
```python
values = ['AB-', 'O-', 'B-', 'B-', 'A+', 'AB+', 'O+', 'B-', 'B+', 'A-', 'A+', 'AB-']
bloodtype = pd.Categorical(values, categories=['O-','O+','B-','B+','A-','A+','AB-','AB+'])
bloodtype
```

In [27]:
values = ['AB-', 'O-', 'B-', 'B-', 'A+', 'AB+', 'O+', 'B-', 'B+', 'A-', 'A+', 'AB-']
bloodtype = pd.Categorical(values, categories=['O-','O+','B-','B+','A-','A+','AB-','AB+'])
bloodtype

['AB-', 'O-', 'B-', 'B-', 'A+', ..., 'B-', 'B+', 'A-', 'A+', 'AB-']
Length: 12
Categories (8, object): ['O-', 'O+', 'B-', 'B+', 'A-', 'A+', 'AB-', 'AB+']

Now run the following code to create an ordinal variable akkoord.
```python
values = ['little', 'more', 'none', 'more', 'little', 'most', 'none']
agreement = pd.Categorical(values, categories=['none', 'little', 'more', 'most'], ordered=True)
agreement
```

In [28]:
values = ['little', 'more', 'none', 'more', 'little', 'most', 'none']
agreement = pd.Categorical(values, categories=['none', 'little', 'more', 'most'], ordered=True)
agreement

['little', 'more', 'none', 'more', 'little', 'most', 'none']
Categories (4, object): ['none' < 'little' < 'more' < 'most']

When reading a csv you can also specify which columns are categorical. This can be done with the dtype parameter.  
Create a new DataFrame laptops from the file laptops.csv. Specify that the columns cpuGeneration and brand are categorical. 
_Tip dtype={'col_name':'category', 'col_name2':'category'}_
 As always, first look at the file to see what the separator is. In this case it will also be important to set the decimal argument correctly.

In [38]:
import csv


data = pd.read_csv("data/laptops.csv", dtype={'Screen Size': 'category'}, decimal=',')
data

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,898.94
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,"14.0""",IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows,10,1.8kg,638.00
1299,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,"13.3""",IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows,10,1.3kg,1499.00
1300,Lenovo,IdeaPad 100S-14IBR,Notebook,"14.0""",1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows,10,1.5kg,229.00
1301,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,"15.6""",1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows,10,2.19kg,764.00
1302,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,"15.6""",1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows,10,2.2kg,369.00

Check the result. cpuGeneration and brand should be of type category and diskspace should be of type float.

In [39]:
data.dtypes

Manufacturer                  object
Model Name                    object
Category                      object
Screen Size                 category
Screen                        object
CPU                           object
RAM                           object
 Storage                      object
GPU                           object
Operating System              object
Operating System Version      object
Weight                        object
Price (Euros)                float64
dtype: object

In many cases you will want to convert a column to a categorical variable after reading the file into a dataframe. In case of the dataframe laptops, convert cpuType to a categorical. The cpuType has to be 'oridinal' and the categories should be 'i3', 'i5', 'i7'.

In [41]:
data['RAM'] = pd.Categorical(data['RAM'], ['2GB', '4GB', '8GB', '16GB', '32GB'], ordered=True)

Check whether the column has been converted correctly. Make sure you see < between the categories.

In [44]:
data['RAM']

0        8GB
1        8GB
2        8GB
3       16GB
4        8GB
        ...
1298     4GB
1299    16GB
1300     2GB
1301     NaN
1302     4GB
Name: RAM, Length: 1303, dtype: category
Categories (5, object): ['2GB' < '4GB' < '8GB' < '16GB' < '32GB']