In [1]:
import numpy as np
import pandas as pd
import sklearn.datasets as ds

#Data preperation
iris_bunch = ds.load_iris(as_frame=True)
iris = pd.DataFrame(iris_bunch.data.to_numpy(), index=np.arange(1, 151), columns=iris_bunch.data.columns)
iris_sepal_length = iris['sepal length (cm)']
iris_sepal_length_b = pd.Series(iris['sepal length (cm)'], index=np.arange(1, 151))
# create a dataframe with the countries of europe as the index, with a column population and gbp
countries = ['France', 'Germany', 'Italy', 'Spain', 'Portugal', 'Greece', 'Belgium', 'Netherlands', 'Luxembourg', 'Austria', 'Switzerland', 'Denmark', 'Sweden', 'Norway', 'Finland', 'Iceland', 'Ireland', 'United Kingdom']
population = [67, 83, 60, 47, 10, 11, 11, 17, 0.6, 9, 8, 6, 10, 5, 5, 0.3, 5, 67]
GDP = [2.78, 4.42, 2.08, 1.39, 0.23, 0.18, 0.53, 0.91, 0.06, 0.45, 0.70, 0.35, 0.53, 0.40, 0.27, 0.02, 0.33, 2.83]
europe = pd.DataFrame({'population': population, 'GDP': GDP}, index=countries)
europe.sort_index(inplace=True)

# Selection slicing and dicing
### Series objects


The iris dataframe is a 150x4 dataframe with properties of iris flowers (To find out more of the dataset visit the dedicated [wikipedia](https://en.wikipedia.org/wiki/Iris_flower_data_set]) page. In the cel above, we also extracted one column of the dataframe.

```
iris = pd.DataFrame(iris, index=np.arange(1, 151)) #creates a dataframe with an explicit index from 1 to 150
iris_sepal_length = iris['sepal length (cm)'] #creates a series with the sepal length of the flowers
```
a. Excecute iris_sepal_length[0]. What do you get? Why?\
b. Execute iris_sepal_length[1]. What do you get? Why?\
c. Execute iris_sepal_length[1:3]. What do you get? Why?

In [6]:
# a
# iris_sepal_length[0]

# b
iris_sepal_length[1]

# c
iris_sepal_length[1:3]

2    4.9
3    4.7
Name: sepal length (cm), dtype: float64

Because of the confusion the explicit index can cause with the bracket notation, it is better to use the loc and iloc attributes. You are always sure of what you are getting.

d. Use the explicit index to get the first row\
e. Use the implicit index to get the first row\
f. Use the explicit index to get the first 10 rows\
g. Use the implicit index to get the first 10 rows

In [11]:
# d
iris_sepal_length.loc[1]

# e
iris_sepal_length.iloc[0]

# f
iris_sepal_length.loc[:10]

# f
iris_sepal_length.iloc[:10]

1     5.1
2     4.9
3     4.7
4     4.6
5     5.0
6     5.4
7     4.6
8     5.0
9     4.4
10    4.9
Name: sepal length (cm), dtype: float64

### DataFrame objects
In the first dataset we created a dataframe with the countries of Europe as the index, with a column population and gbp.

a. Print the europe dataframe. What is the index of the dataframe? Wich columns does it have?\
b. From the europe dataframe, get the data for France using the loc attribute\
c. From the europe dataframe, get the population for all countries. Try do to this using 4 different ways to select data.

In [20]:
# a
print(europe)

# b
print(europe.loc['France'])

# c
europe['population']
europe.loc[:,'population']
europe.iloc[:,0]

                population   GDP
Austria                9.0  0.45
Belgium               11.0  0.53
Denmark                6.0  0.35
Finland                5.0  0.27
France                67.0  2.78
Germany               83.0  4.42
Greece                11.0  0.18
Iceland                0.3  0.02
Ireland                5.0  0.33
Italy                 60.0  2.08
Luxembourg             0.6  0.06
Netherlands           17.0  0.91
Norway                 5.0  0.40
Portugal              10.0  0.23
Spain                 47.0  1.39
Sweden                10.0  0.53
Switzerland            8.0  0.70
United Kingdom        67.0  2.83
population    67.00
GDP            2.78
Name: France, dtype: float64

Austria            9.0
Belgium           11.0
Denmark            6.0
Finland            5.0
France            67.0
Germany           83.0
Greece            11.0
Iceland            0.3
Ireland            5.0
Italy             60.0
Luxembourg         0.6
Netherlands       17.0
Norway             5.0
Portugal          10.0
Spain             47.0
Sweden            10.0
Switzerland        8.0
United Kingdom    67.0
Name: population, dtype: float64

d. Try to get an insight in the data. Print the iris dataframe. Use the functions describe() and info() to get a summary of the data.\
 __From now on, you are always supposed to use these functions to get an insight in the data. Investigate every dataframe you use and is unfamiliar with these three steps.__\
e. Get the last 10 rows of the iris dataframe. Choose correctly between using the explicit and implicit index.\
f. Get the rows with the dataframe indexvalues from 100 to and including 110.

In [27]:
# d
print(iris)
print(iris.describe())
print(iris.info())

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                  5.1               3.5                1.4               0.2
2                  4.9               3.0                1.4               0.2
3                  4.7               3.2                1.3               0.2
4                  4.6               3.1                1.5               0.2
5                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
146                6.7               3.0                5.2               2.3
147                6.3               2.5                5.0               1.9
148                6.5               3.0                5.2               2.0
149                6.2               3.4                5.4               2.3
150                5.9               3.0                5.1               1.8

[150 rows x 4 columns]
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000
<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 150
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 9.9 KB
None

In [31]:
# e
iris.iloc[-10:]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
141                6.7               3.1                5.6               2.4
142                6.9               3.1                5.1               2.3
143                5.8               2.7                5.1               1.9
144                6.8               3.2                5.9               2.3
145                6.7               3.3                5.7               2.5
146                6.7               3.0                5.2               2.3
147                6.3               2.5                5.0               1.9
148                6.5               3.0                5.2               2.0
149                6.2               3.4                5.4               2.3
150                5.9               3.0                5.1               1.8

In [32]:
# f
iris.iloc[100:111]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
101                6.3               3.3                6.0               2.5
102                5.8               2.7                5.1               1.9
103                7.1               3.0                5.9               2.1
104                6.3               2.9                5.6               1.8
105                6.5               3.0                5.8               2.2
106                7.6               3.0                6.6               2.1
107                4.9               2.5                4.5               1.7
108                7.3               2.9                6.3               1.8
109                6.7               2.5                5.8               1.8
110                7.2               3.6                6.1               2.5
111                6.5               3.2                5.1               2.0