The datasets in this exercise are imported from csv-files. You will learn how to do this in a seperate course.

In [11]:
import pandas as pd
import numpy as np

df_customer = pd.read_csv('../../datasets/customer.csv')
df_sales = pd.read_csv('../../datasets/sales.csv')
df_product = pd.read_csv('../../datasets/products.csv')
df_prod_supplier=pd.read_csv('../../datasets/prod_suppliers.csv')
df_supplier=pd.read_csv('../../datasets/suppliers.csv')
df_prod_supplier2=pd.read_csv('../../datasets/prod_suppliers2.csv')
df_product1=pd.read_csv('../../datasets/products.csv')
df_product2=pd.read_csv('../../datasets/products2.csv')
df_product3=pd.read_csv('../../datasets/products3.csv')

In [12]:
df_courses = pd.DataFrame({
    'major': ['AI', 'AI','AI','Infrastructure & System Engineering','Infrastructure & System Engineering', 'Infrastructure & System Engineering','Application Development','Application Development','Application Development','Application Development','Application Development','Application Development'],
    'courses': [
        'Machine Learning', 'Deep Learning', 'Natural Language Processing',
        'Network Security', 'Cloud Computing', 'Database Management',
        'Software Engineering', 'Systems Design', 'Embedded Systems',
        'Web Development', 'Mobile App Development', 'Software Testing'
    ]
})
df_students= pd.DataFrame({
    'student_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'major': ['AI', 'Infrastructure & System Engineering', 'Infrastructure & System Engineering', 'Application Development', 'AI', 'Application Development']
})

data={'Student_name':['Alice','Frank','Ali'],'Minor':['French communication','LLM','Cybersecurity']}
df_minor=pd.DataFrame(data)
df_minor

## Merge and joins
Five dataframes are given: customer, sales, products, prod_supplier and supplier. Investigate the dataframes.


### One-to-one joins

a. Construct a new dataframe df_product_extended which adds the columns 'supp_id' and 'suppliername' from df_prod_supplier to df_products.Verify if the operation is ok.


b. What did you notice about the merge?

### Many-to-one joins (similar to SQL INNER JOIN)

a. How can we create a table with the prod_supplier information and also the emails, phone numbers and address of the suppliers? Identify the new dataframe as df_prod_extended_supplier


b. What happens when in one of the files you have supplier_name instead of suppliername?

### Many-to-many joins

a. Investigate both df_courses and df_students

b. Construct a list of all the courses a student needs to follow.


### Merge keys

a. Read the file prod_suppliers2.csv next in Suppliers.csv we still have suppliersname but in prod_suppliers the column is named 'supplier'. Also supp_id is unavailable. Perform a merge without renaming the columns.

b. Take df_product and df_prod_supplier2 transform the p_id in an index\
c. Merge the two tables on the index\
d. Do the same but use the join method of Pandas\
e. Verify that both are the same

f.Merge the sales, prod_suppliers and products into one dataframe. What wil you merge first
    b.How do you avoid having double columns?

In [23]:
### What about left, right and outer joins?

In SQL we have the notion of a left and right join and an outer join. What are the pandas counterparts?
Let's review our student example

In [24]:
print(df_students)

12. Students can also follow a minor. The dataframe df_minor contains the information about the minor of the students. Investigate the dataframe. One of the students follows a minor but no major.\
a. Merge the df_students (containing students and their major) with df_minor. What happens?\
b. Do we have duplicate columns? How do we drop them?\
c Construct a dataframe with all the information of all the students.\
d. Construct a dataframe with all the information of the majors and optional that of the minors.\
e. Construct a dataframe with all the info about the minors and optional that of the majors

In [26]:

#b
df=df.drop('Student_name',axis=1)

#c
df_outer=pd.merge(df_students,df_minor,left_on='student_name',right_on='Student_name',how='outer')
df_outer

#d
df_left=pd.merge(df_students,df_minor,left_on='student_name',right_on='Student_name',how='left')
df_left

#e
df_right=pd.merge(df_students,df_minor,left_on='student_name',right_on='Student_name',how='right')
df_right
#SOLUTION_END