## Strings methods and strings methods with regular expressions

### Strings methods


In the cell below a Series object is created with names.

In [7]:
import pandas as pd
import re


df=pd.Series(['Leonardo DiCaprio',
'Meryl Streep',
'Denzel Washington',
'Scarlett Johansson',
'  Kevin De Bruyne',
'Natalie Portman',
'Leonel Messi',
' Tom Hanks ',
'Angelina Jolie',
'Christian Bale',
' Kevin Bacon '              ],name="famous")

1) In the list we have some blanks in the beginning and the end. Remove them. Call the Series names.

In [8]:
#SOLUTION_START
# first name
names=df.str.strip()
print(names)
#SOLUTION_END

0      Leonardo DiCaprio
1           Meryl Streep
2      Denzel Washington
3     Scarlett Johansson
4        Kevin De Bruyne
5        Natalie Portman
6           Leonel Messi
7              Tom Hanks
8         Angelina Jolie
9         Christian Bale
10           Kevin Bacon
Name: famous, dtype: object

2) Make a series with the len of all the actor names in it.

In [9]:
#SOLUTION_START

names_len=names.str.len()
print(names_len)
#SOLUTION_START

0     17
1     12
2     17
3     18
4     15
5     15
6     12
7      9
8     14
9     14
10    11
Name: famous, dtype: int64

3) Make a list which will transform all the actors name in lower case

In [10]:
#SOLUTION_START
df_lower=names.str.lower()
#SOLUTION_END

4) Create a dataframe with column 'name' with the names in uppercase and column 'length' with the length

In [11]:
#SOLUTION_START
data = pd.DataFrame({'name':names.str.upper(),'length':names.str.len()})
print(data)
#SOLUTION_END

                  name  length
0    LEONARDO DICAPRIO      17
1         MERYL STREEP      12
2    DENZEL WASHINGTON      17
3   SCARLETT JOHANSSON      18
4      KEVIN DE BRUYNE      15
5      NATALIE PORTMAN      15
6         LEONEL MESSI      12
7            TOM HANKS       9
8       ANGELINA JOLIE      14
9       CHRISTIAN BALE      14
10         KEVIN BACON      11

5) Make a dataframe df_short with:\
   a) Column first_five with only the first 5 characters of each string in the Series names.\
   b) Column not_last_six which will show the string except the last 6 characters of each string of Series names.\
   c) Column last_seven with only the last 7 characters in each string\

In [12]:
#SOLUTION_START
df_short = pd.DataFrame({'first_five':names.str[0:5],'not_last_six':names.str[:-6],'last_seven':names.str[-7:]})
#SOLUTION_END

6) a) Make a list of all the words in string_to_be_cut.\
   b) Convert the list to a pandas Series\
   c) Use a string function to display the position of the first 'n'\
   d) Split the string in three parts with 'cut' in the middle and print  the 3 parts.

In [22]:
string_to_be_cut="This string needs to be cut in pieces"
#SOLUTION_START
#a
List_string_cut=string_to_be_cut.split()
#b
Series_string_cut=pd.Series(List_string_cut)
print (Series_string_cut)
#c
first_place=string_to_be_cut.find('n') + 1 # + 1 because first postion is 0
print(first_place)
#d
three_parts=string_to_be_cut.partition("cut")
print(pd.Series([three_parts[0],three_parts[1],three_parts[2]]))
#SOLUTION_END

0      This
1    string
2     needs
3        to
4        be
5       cut
6        in
7    pieces
dtype: object
10
29
0    This string needs to be
1                         cut
2                   in pieces
dtype: object

7.  Create a dataframe with a column 'first_name' and a column 'last_name' with the first and last name of the famous people.\
*Tip 1: Take a look at the split() n parameter*\
*Tip 2: str.get() can be used to get the different strings from the split()*

In [54]:
#SOLUTION_START
split_names = names.str.split(n=1)
df_name = pd.DataFrame({'first': split_names.str.get(0), 'last': split_names.str.get(1)})
df_name
#SOLUTION_END

        first        last
0    Leonardo    DiCaprio
1       Meryl      Streep
2      Denzel  Washington
3    Scarlett   Johansson
4       Kevin   De Bruyne
5     Natalie     Portman
6      Leonel       Messi
7         Tom       Hanks
8    Angelina       Jolie
9   Christian        Bale
10      Kevin       Bacon

6) Make a df_replaced where you replace all the white spaces with '\\_' in the list of famous people.\

In [56]:
#SOLUTION_START
df_replaced = df.str.replace(" ","_")
print(df2)
#SOLUTION_END

0      Leonardo_DiCaprio
1           Meryl_Streep
2      Denzel_Washington
3     Scarlett_Johansson
4      __Kevin_De_Bruyne
5        Natalie_Portman
6           Leonel_Messi
7            _Tom_Hanks_
8         Angelina_Jolie
9         Christian_Bale
10         _Kevin_Bacon_
Name: famous, dtype: object

7. In de cell below we have a Series with some rubbish in it.\

In [57]:
rubbish=pd.Series(['just a phrase',
"123",
'45,56',
'HI',
"\u0030",
'Natalie Portman',
"\u00B2",
'22.23',
'Angelina Jolie',
'Christian Bale',
' Kevin Bacon '              ],name="rubbish")

a) For each element print whether the string is numeric\
b) For each element print whether the string is decimal. Check wheter the results are what you expect.\
c) For each element print whether the string contains the substring 'Ba'\
d)  For each element print whether the strings start with a alphabetic character and ends with an alphabetic character using regex.

In [61]:
#SOLUTION_START
#a
print(rubbish.str.isnumeric())
# Entry 4 and 6 considered as True because these are the unicode characters for 0 and ²
#b
print(rubbish.str.isdecimal())
#c
print(rubbish.str.contains('Ba'))
#alternative with regular expressions
print(rubbish.str.contains('Ba',regex=True))
#d
print(rubbish.str.contains('^[a-zA-Z].*[a-zA-Z]$',regex=True))
#SOLUTION_END

0     False
1      True
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
Name: rubbish, dtype: bool
0     False
1      True
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
Name: rubbish, dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
Name: rubbish, dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
Name: rubbish, dtype: bool
0      True
1     False
2     False
3      True
4     False
5      True
6     False
7     False
8      True
9      True
10    False
Name: rubbish, dtype: bool